*{
    margin: 0;
    padding: 0;
}

.container{
    font-family: 'Lato', sans-serif;
    padding: 5rem 2rem;
    text-align: center;
    align-content: center;
    background-color: #eee;
}
h1{
    font-family: 'Righteous', cursive;
    margin-bottom: 4rem;
    font-size: 2rem;
}
p{
    font-size: 1.75rem;
}